<a href="https://colab.research.google.com/github/natnew/Python-Projects-Collecting-and-Manipulating-Data/blob/main/Collecting_and_Manipulating_ForUK_House_Price_Index_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction

The Royal Institution of Chartered Surveyors’ (RICS) October 2021 UK Residential Market Survey reported buyer demand picking up slightly. The lack of available supply presents buyers with a limited choice and remains a key factor in strong house price growth.

The Bank of England’s Agents summary of business conditions 2021 Q3 reported ongoing strong demand for housing across most parts of the UK and a shortage of properties for sale, which pushed up prices.

The UK Property Transactions Statistics showed that in October 2021, on a seasonally adjusted basis, the estimated number of transactions of residential properties with a value of £40,000 or greater was 76,930. This is 28.3% lower than a year ago. Between September and October 2021, UK transactions decreased by 52.0% on a seasonally adjusted basis, following a large increase in the month prior.

The Bank of England’s Money and Credit October 2021 release reported that mortgage approvals for house purchases (an indicator of future lending) in October 2021 was 67,200, which is down from 71,900 in September 2021.

This project will look at:



* Housing market in the UK

## Questions

"Has house prices steadily increased in the past 20 years?"

"Were there years when house priced dropped? What else was happeing during this time?"

## Collect Data

The data was collected from Direct Gov website and contained a large amout of data from 1948 to 2021. For the purpose of this project, we will only compare data from 1990 to 2008.

You can find the data here: <br>
https://www.gov.uk/government/statistics/uk-house-price-index-for-october-2021/uk-house-price-index-summary-october-2021 <br>

## Missing Data

The Excel files have extensive data about the housing market in each year. However, as I start to explore this data, I might find a significant problem.There are instances where no data was captured.

# Import Libraries

In [60]:
# Pandas library is used for handling tabular data
import pandas as pd

# NumPy is used for handling numerical series operations (addition, multiplication, and ...)

import numpy as np
# Sklearn library contains all the machine learning packages we need to digest and extract patterns from the data
from sklearn import linear_model, model_selection, metrics
from sklearn.model_selection import train_test_split

# Machine learning libraries used to build a decision tree
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

# Sklearn's preprocessing library is used for processing and cleaning the data 
from sklearn import preprocessing

# for visualizing the tree
import pydotplus
from IPython.display import Image

# Read Data into a variable

## For October 2021

In [61]:
summary_average_price = pd.read_excel('Summary-United-Kingdom-average-price.xlsx')
summary_average_price.head()

        Property type  2021-10-01 00:00:00  2020-10-01 00:00:00  Difference
0            Detached               425121               372931       0.140
1       Semi-detached               256537               232383       0.104
2            Terraced               216481               198997       0.088
3  Flat or maisonette               222381               208547       0.066
4                 All               268349               243576       0.102

As you can see from the data, we have a relatively clean dataset.

In [64]:
summary_sales_volume_by_country = pd.read_excel('Summary-sales-volume-by-country.xlsx')
summary_sales_volume_by_country.head()

                               Country  ...  2020-08-01 00:00:00
0                              England  ...                56476
1  Northern Ireland (Quarter 3 - 2021)  ...                 1766
2                             Scotland  ...                 6977
3                                Wales  ...                 2525

[4 rows x 3 columns]

In [65]:
summary_change_by_country_government = pd.read_excel('Summary-change-by-country-and-government.xlsx')
summary_change_by_country_government.head()

  Country and government office region   Price  Monthly change  Annual change
0                              England  285113          -0.015          0.098
1  Northern Ireland (Quarter 3 - 2021)  159109           0.030          0.107
2                             Scotland  181391           0.004          0.113
3                                Wales  203224           0.026          0.155
4                        East Midlands  228290          -0.009          0.117

In [66]:
summary_GreatBritain_first_time_buyer_formerowner = pd.read_excel('Summary-Great-Britain-first-time-buyer-and-former-owner-occupier.xlsx')
summary_GreatBritain_first_time_buyer_formerowner.head()

                  Type of buyer  ...  Annual change
0              First time buyer  ...          0.092
1  Former owner occupier£315161  ...            NaN

[2 rows x 4 columns]

In [67]:
summary_United_Kingdom_new_existing_build = pd.read_excel('Summary-United-Kingdom-new-existing-build.xlsx')
summary_United_Kingdom_new_existing_build.head()

            Property Status  ...  Annual change
0                 New build  ...          0.180
1  Existing resold property  ...          0.092

[2 rows x 4 columns]

We have a lot of interesting information that we can analyse and compare across years.

# Explore Data

In [ ]:
summary_average_price.columns

Index(['Property type', 2021-10-01 00:00:00, 2020-10-01 00:00:00,
       'Difference'],
      dtype='object')

In [ ]:
summary_average_price["Property type"]

0              Detached
1         Semi-detached
2              Terraced
3    Flat or maisonette
4                   All
Name: Property type, dtype: object

# Data Cleaning

In [ ]:
summary_average_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property type        5 non-null      object
 1   2021-10-01 00:00:00  5 non-null      int64
 2   2020-10-01 00:00:00  5 non-null      int64
 3   Difference           5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes

Observation: <br>
* All rows a 5 non-null values.This could indictae missing values but is more likely to be empty cells that we can ignore. (we may need to remove these from the dataset)

Ways that data will be cleaned: <br>
* For missing information, mark it as unknown.
* For missing condition data, assume it was a typical day and use fair.
* For any other data, use a value of 0.

In [ ]:
## To handle missing values, we will fill the missing values with appropriate values - But we do not need to do this for this dataset at the moment.
#summary_average_price['ColumnName'].fillna('N',inplace=True)
#summary_average_price['ColumnName'].fillna('Uncrewed',inplace=True)
#summary_average_price['ColumnName'].fillna('unknown',inplace=True)
#summary_average_price['ColumnName'].fillna('Fair',inplace=True)
#summary_average_price.fillna(0,inplace=True)
#summary_average_price.head()

In [68]:
summary_average_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property type        5 non-null      object
 1   2021-10-01 00:00:00  5 non-null      int64
 2   2020-10-01 00:00:00  5 non-null      int64
 3   Difference           5 non-null      float64
dtypes: float64(1), int64(2), object(1)
memory usage: 288.0+ bytes

Observation: We now have a clearer datset to work with.

# Data Manipulation

In [ ]:
## As part of the data cleaning process, we have to convert text data to numerical because computers understand only numbers - 
## We do not have any text values in this dataset so we can skip this part
#label_encoder = preprocessing.LabelEncoder()

# Three columns have categorical text info, and we convert them to numbers
#summary_average_price['ColumnName'] = label_encoder.fit_transform(launch_data['ColumnName'])
#summary_average_price['ColumnName'] = label_encoder.fit_transform(launch_data['ColumnName'])
#summary_average_price['ColumnName'] = label_encoder.fit_transform(launch_data['ColumnName'])

In [69]:
summary_average_price.head()

        Property type  2021-10-01 00:00:00  2020-10-01 00:00:00  Difference
0            Detached               425121               372931       0.140
1       Semi-detached               256537               232383       0.104
2            Terraced               216481               198997       0.088
3  Flat or maisonette               222381               208547       0.066
4                 All               268349               243576       0.102

Observation: We have data in a format that can be explored, manipulated and presented.

# Further Exploration

Ways that the data exploration journay can be extended include:<br>
* Explore the data further: Look up articles and reports on the housng market in the UK
* Explore the data: 
* Explore other data manipulations: Could we have used better values to fill in missing data?
* Evaluate similar problems: Are there similar problems that you can use to help fill in this data?

#Next Step

The next step of the process is to do the same for another set of datasets bwteen 1990 and 2021.

Tip: Refer to the notebook about rocket launches for assistance.

# Read Data into a variable

## For January 2021 - Start of the year

In [ ]:
sales_volumes_by_country_JAN = pd.read_excel('Sales-volumes-by-country-JAN.xlsx')
sales_volumes_by_country_JAN.head()

In [ ]:
summary_GreatBritain_firsttime_buyer_JAN = pd.read_excel('Summary-Great-Britain-first-time-buyer-and-former-owner-occupier-JAN.xlsx')
summary_GreatBritain_firsttime_buyer_JAN.head()